<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:p="http://www.springframework.org/schema/p"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

<bean class="com.springcore.springcore.Student" name="student3" p:studentId="22717" p:studentName="vicky" p:studentAddress="delhi"></bean>
<bean class="com.springcore.springcore.Student" name="student1">
<property name="studentId" value="22711">
<!--  <value>22711</value> -->
</property>

<property name="studentName" value="asmit bajaj">
<!--   <value>Asmit bajaj</value>-->
</property>

<property name="studentAddress" value="panipat">
<!--  <value>panipat</value> -->
</property>

</bean>
<bean class="com.springcore.springcore.Student" name="student2">
<property name="studentId" value="22712">
<!--  <value>22711</value> -->
</property>

<property name="studentName" value="ram">
<!--   <value>Asmit bajaj</value>-->
</property>

<property name="studentAddress" value="panipat">
<!--  <value>panipat</value> -->
</property>
</bean>
</beans>
